@using PokerClubsApp.Web.ViewModels.Game
@model AddGameResultsModel;

@{
    ViewBag.Title = "Add Game Results";
    var today = DateTime.Now.ToString("yyyy-MM-dd");
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="@Model.AccountId" class="form-label-add-edit">Nickname</label>
                <select asp-for="@Model.AccountId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Players, "AccountId", "Nickname"))">
                    <option value="">Select Account...</option>
                </select>
                <span asp-validation-for="@Model.AccountId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ClubId" class="form-label-add-edit">Club Name</label>
                <select asp-for="@Model.ClubId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Clubs, "Id", "Name"))">
                    <option value="">Select Club...</option>
                </select>
                <span asp-validation-for="@Model.ClubId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Result" class="form-label-add-edit">Result</label>
                <input asp-for="@Model.Result" class="form-control" aria-required="true" type="number" step=".01"/>
                <span asp-validation-for="@Model.Result" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Fee" class="form-label-add-edit">Fee</label>
                <input asp-for="@Model.Fee" class="form-control" aria-required="true" type="number" step=".01"/>
                <span asp-validation-for="@Model.Fee" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.FromDate" class="form-label-add-edit">From</label>
                <input asp-for="@Model.FromDate" class="form-control" aria-required="true" value="@(string.IsNullOrEmpty(Model.FromDate) ? today : Model.FromDate)" />
                <span asp-validation-for="@Model.FromDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ToDate" class="form-label-add-edit">To</label>
                <input asp-for="@Model.ToDate" class="form-control" aria-required="true" value="@(string.IsNullOrEmpty(Model.ToDate) ? today : Model.ToDate)" />
                <span asp-validation-for="@Model.ToDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.GameTypeId" class="form-label-add-edit">Game Type</label>
                <select asp-for="@Model.GameTypeId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.GameTypes, "Id", "Name"))">
                    <option value="">Select Game Type...</option>
                </select>
                <span asp-validation-for="@Model.GameTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-warning btn-dark-text mb-2 w-100 py-3 fw-bold rounded" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

