@using PokerClubsApp.Web.ViewModels.Game
@using PokerClubsApp.Web.Infrastructure.Extensions

@model CreateGameResultsModel;

@{
    ViewBag.Title = "Create Game Results";
    var today = DateTime.Now.ToString("yyyy-MM-dd");
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="@Model.PlayerId" class="form-label-add-edit fw-bold">Nickname</label>
                <select asp-for="@Model.PlayerId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Players, "Id", "Nickname"))">
                    <option value="">Select Account...</option>
                </select>
                <span asp-validation-for="@Model.PlayerId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ClubId" class="form-label-add-edit fw-bold">Club Name</label>
                <select asp-for="@Model.ClubId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Clubs, "Id", "Name"))">
                    <option value="">Select Club...</option>
                </select>
                <span asp-validation-for="@Model.ClubId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Result" class="form-label-add-edit fw-bold">Result</label>
                <input asp-for="@Model.Result" class="form-control" aria-required="true" type="number" step=".01"/>
                <span asp-validation-for="@Model.Result" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Fee" class="form-label-add-edit fw-bold">Fee</label>
                <input asp-for="@Model.Fee" class="form-control" aria-required="true" type="number" step=".01"/>
                <span asp-validation-for="@Model.Fee" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.GameTypeId" class="form-label-add-edit fw-bold">Game Type</label>
                <select asp-for="@Model.GameTypeId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.GameTypes, "Id", "Name"))">
                    <option value="">Select Game Type...</option>
                </select>
                <span asp-validation-for="@Model.GameTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Week" class="form-label-add-edit fw-bold">Week</label>
                <select asp-for="@Model.Week" class="form-control" aria-required="true" asp-items="@(Model.Weeks.ToSelectList())">
                    <option value="">Select Week...</option>
                </select>
                <span asp-validation-for="@Model.Week" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary btn-dark-text mb-2 w-100 py-3 fw-bold rounded" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

