@using PokerClubsApp.Web.ViewModels.GameResults
@using static PokerClubsApp.Common.EntityValidationConstants.GameResult
@model GameResultDetailsModel;


@{
    ViewBag.Title = "Game Results";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8" style="overflow: auto">
        <table class="table">
            <thead> 
                <tr>
                    <th scope="col">Union</th>
                    <th scope="col">Club</th>
                    <th scope="col">Account Id</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">Result</th>
                    <th scope="col">Fee</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Game type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><p>@Model.UnionName</p></td>
                    <td><p>@Model.ClubName</p></td>
                    <td><p>@Model.PlayerAccountId</p></td>
                    <td><p>@Model.Nickname</p></td>
                    <td><p>@Model.Result</p></td>
                    <td><p>@Model.Fee</p></td>
                    <td><p>@Model.FromDate.ToString(FromDateFormat)</p></td>
                    <td><p>@Model.ToDate.ToString(ToDateFormat)</p></td>
                    <td><p>@Model.GameType</p></td>
                </tr>
                <tr>
                    <td>
                        <a asp-controller="GameResults" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary d-flex justify-content-center align-items-center flex-fill mx-1">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="GameResults" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger d-flex justify-content-center align-items-center flex-fill mx-1" onclick="return confirm('Are you sure you want to delete this result?');">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>